.banner-image-1 {
  height: 560px;
  background-image: url(https://images.unsplash.com/photo-1642394079501-156996d9a340?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center bottom;
}

.banner-image-2 {
  height: 560px;
  background-image: url(https://images.unsplash.com/photo-1499314044379-c0f54371e111?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center top;
}

.banner-image-3 {
  height: 560px;
  background-image: url(https://images.unsplash.com/photo-1542948330-efbf302472dc?q=80&w=1818&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
}

.banner-image-4 {
  height: 560px;
  background-image: url(https://images.unsplash.com/photo-1523287775146-24130f384378?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
}

