.banner-image-1 {
  background-image: url(@/assets/img/banner01.jpg);
  background-size: cover;
  background-position: center bottom;
}

.banner-image-2 {
  background-image: url(@/assets/img/banner02.jpg);
  background-size: cover;
  background-position: center top;
}

.banner-image-3 {
  background-image: url(@/assets/img/banner03.jpg);
  background-size: cover;
  background-position: center center;
}

.banner-image-4 {
  background-image: url(@/assets/img/banner04.jpg);
  background-size: cover;
  background-position: center center;
}

