.cardHover {
  .imageHover{
    overflow:hidden;
    img{
      background-size: cover;
      background-position: center;
      transform:scale(1,1);
      transition: all 0.3s ease-out;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 2.4px 2.4px 3.2px rgba(0,0,0,.15);
    .imageHover {
      img{
        transform:scale(1.2,1.2);
      } 
    }
  }
}