.pageHover {
  position: relative;
  &:hover,&.active {
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 25%;
      width: 50%;
      border-bottom: 1px solid $primary;
    }
  }
}

.pagination-prev,
.pagination-next {
  &.disabled {
    opacity: 0;
  }
}