.nav-bg {
  background: transparent;
}
.nav-float {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  background: $warning;
}

// cart & favorite
.nav-cart,
.nav-favorite
{
  position: relative;
  span {
    position: absolute;
    right: -2px;
    top: 5px;
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $primary;
    color: $warning;
    font-size: 14px;
    text-align: center;
  }
}

.logo {
  display: block;
  width: 140px;
  img {
    width: 100%;
  }
}